---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Front Page Styles
.front-post {
  border: solid 2px black;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: 100% 200px;
  background-repeat: no-repeat;
}


.front-title {
 width: relative 100%;
 height: 60px;
 padding-left: 5px;
 background: rgba(0,0,0,0.8);
 overflow: hidden;
}
//---


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #ffffff;
$background-color: #333333;
$brand-color:      #ffcc00;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
