---
layout: page
title: Teachers
date: 2015-11-12 04:27:00.000000000 -08:00
type: page
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
  _wp_page_template: default
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1487183996}'
  _oembed_470d6577a85a56ac9af133897751065f: "{{unknown}}"
  _oembed_37a8f78185301f230f0d8ffc7242c4aa: "{{unknown}}"
  _oembed_06aa1d28c06c3de7818342c9f9ad54c0: "{{unknown}}"
author:
  login: sensei
  email: joseph@liau.ca
  display_name: sensei
  first_name: ''
  last_name: ''
---
<p>[caption id="attachment_29" align="aligncenter" width="300"]<img class="wp-image-29 size-medium" src="{{ site.baseurl }}/assets/kanan-300x108.jpeg" alt="kanan" width="300" height="108" /> Source: Lucasfilm[/caption]</p>
<p><strong><br />
Japanese Word Frequency:</strong></p>
<p>TPRS teaching is based on word frequency.</p>
<p><strong>TPRS Japanese Word Frequency lists:</strong><a href="http://www.manythings.org/japanese/words/leeds/"><br />
http://www.manythings.org/japanese/words/leeds/<br />
</a></p>
<p><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Japanese">https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Japanese</a></p>
<p><a href="http://www.lexiteria.com/word_frequency/japanese_word_frequency_list.html">http://www.lexiteria.com/word_frequency/japanese_word_frequency_list.html</a></p>
<p>What is TPRS?</p>
<p>Teaching Proficiency [through] Reading [and] Storytelling<br />
https://en.wikipedia.org/wiki/TPR_Storytelling</p>
<p>TPRS is used for teaching/learning foreign languages. It is a comprehensible-input method.<br />
<p></p><strong>Who does TPRS? </strong></p>
<p>TPRS is becoming more popular in the public high school system. Ask your teachers and tutors to look into this method.</p>
<p><strong>Why TPRS?</strong></p>
<p>It is an effective face-to-face method of learning and a better use of time than doing grammar worksheets. Although it requires more interaction, it can have a lot less preparation.</p>
<p>TPRS is designed for differentiated learning and can work in multi-level classrooms.</p>
<p><strong>When should I use TPRS?</strong></p>
<p>Any time you want to teach language acquisition. It can replace an entire curriculum. Some people prefer to mix in traditional methods of lecture, while others believe TPRS is the only good use of class time. Keep in mind, that reading is a big part of TPRS.</p>
<p><strong>How do I do TPRS?</strong></p>
<p>TPRS requires practice. Training is also recommended. You can attend a <a href="https://tprsbooks.com/tprs-workshops/">Blaine Ray workshop</a>.</p>
<p>TPRS workshops are often present and professional development conferences.</p>
<p><strong><br />
TPRS Grading Spreadsheet</strong></p>
<p>Due to <a href="http://www.bclaws.ca/Recon/document/ID/freeside/96165_00">FOIPA</a> we are unable to use online grading services.</p>
<p>Below is a grades spreadsheet that can be stored offline on your computer. It is designed for traditional TPRS grading.</p>
<p><em>Usage and Known Issues:</em></p>
<ul>
<li>Edit only the <span style="background-color: yellow;">YELLOW</span> or <span style="background-color: white;">WHITE</span> cells</li>
<li>Supports three assignment types with different weighting</li>
<li>Create new assignments by adding columns on the right. Each assignment must have a CODE(type)  and maximum score.</li>
<li>Assignment can be exempt by inputing “E”. All other non-numbers (including empty cells) will be considered as a 0.</li>
</ul>
<p>The main formula in the sheet is below:</p>
<pre>=SUM((SUMIF($F$7:$AZ$7,$D$2,F10:AZ10)/($C$2-SUMIFS($F$8:$AZ$8,F10:AZ10,"E",$F$7:$AZ$7,$D$2)))*$B$2+(SUMIF($F$7:$AZ$7,$D$3,F10:AZ10)/($C$3-SUMIFS($F$8:$AZ$8,F10:AZ10,"E",$F$7:$AZ$7,$D$3)))*$B$3+(SUMIF($F$7:$AZ$7,$D$4,F10:AZ10)/($C$4-SUMIFS($F$8:$AZ$8,F10:AZ10,"E",$F$7:$AZ$7,$D$4)))*$B$4)</pre>
<p><a href="http://liau.ca/files/ungrade_template.ods">DOWNLOAD "Ungrade" Template</a></p>
