---
layout: page
title: 日本語 Students
date: 2015-11-12 03:51:19.000000000 -08:00
type: page
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
  _wp_page_template: default
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1493825438}'
author:
  login: sensei
  email: joseph@liau.ca
  display_name: sensei
  first_name: ''
  last_name: ''
---
<p>[caption id="attachment_17" align="aligncenter" width="500"]<img class="size-full wp-image-17" src="{{ site.baseurl }}/assets/dangerous.jpeg" alt="Source: Kotaku" width="500" height="281" /> Source: Kotaku[/caption]</p>
<p>A collection of resources for vocabulary building.</p>
<p><strong>Sensei's Quizlet Page</strong><br />
<a href="https://quizlet.com/liausensei">https://quizlet.com/liausensei</a></p>
<p><strong>KANJI Learners</strong></p>
<ul>
<li><a href="https://quizlet.com/141506293/common-kanji-combo-flash-cards/">Kanji Combo Test Study</a></li>
<li><a href="http://japanese.about.com/od/kan2/a/100kanji.htm">Top 100 Most Common Kanji Part 1</a> / <a href="https://quizlet.com/10093764/100-most-common-kanji-flash-cards/">Quizlet Version</a></li>
<li><a href="http://japanese.about.com/od/kan2/a/100kanji2.htm">Top 100 Most Common Kanji Part 2</a></li>
<li><a href="http://www.hellodamage.com/tdr/archive/7diary/byfreq.html">2501 most frequent kanji</a></li>
<li><a href="http://japanese-lesson.com/characters/kanji/kanji_writing.html">Kanji Writing Practice (Print Me)</a></li>
<li><a href="https://addons.mozilla.org/en-US/firefox/addon/rikaichan/">Read Any Kanji in your Browser- Rikaichan</a></li>
</ul>
<p><strong>KANA Learners</strong></p>
<ul>
<li><a href="http://japanese-lesson.com/characters/hiragana/hiragana_writing.html">Hiragana Writing Practice (Print Me)</a></li>
<li><a href="http://japanese-lesson.com/characters/katakana/katakana_writing.html">Katakana Writing Practice (Print Me)</a></li>
<li><a href="https://quizlet.com/24255617/hiragana-12-all-46-hiragana-practice-flash-cards/">Quizlet</a></li>
<li><a href="http://japanese.gatech.edu/WebCTVista/JAPN1001/contents/Lesson02/hiragana/mnemonic-hiragana.html">Hiragana Mnemonics<br />
</a></li>
<li><a href="http://japanese.gatech.edu/WebCTVista/JAPN1001/contents/Lesson02/katakana/mnemonic-katakana.html">Katakana Mnemonics</a></li>
</ul>
<p><strong>VERB Learners</strong></p>
<ul>
<li><a href="http://liau.ca/files/verblist.pdf">Common Verbs (Print Me)</a></li>
<li><a href="http://liau.ca/files/conjugator.pdf">Verb ConjuGator (Print Me)</a></li>
<li><a hreaf="http://www.japaneseverbconjugator.com/">Verb Conjugator (Online)</a></li>
</ul>
<p><strong>ADJECTIVE Learners</strong></p>
<ul>
<li><a href="http://japanese.about.com/od/grammarlessons/a/Useful-Japanese-Adjectives.htm">Useful Adjectives</a></li>
<li><a href="http://www.punipunijapan.com/japanese-colors-%E8%89%B2/">Colours</a></li>
</ul>
<p><strong>DAILY VOCABULARY</strong></p>
<ul>
<li><a href="http://liau.ca/school/wp-content/uploads/2015/11/Day-counting.pdf" rel="">Day Counting (Print Me)</a></li>
</ul>
<p><strong>DICTIONARY</strong></p>
<ul>
<li><a href="http://rut.org/cgi-bin/j-e/sjis/tty/dict">和英／英和辞典 - Japanese⇔English Dictionary</a></li>
<li><a href="http://jisho.org/">jisho.org</a></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
