---
layout: page
title: About
date: 2015-11-12 03:35:37.000000000 -08:00
type: page
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
  _wp_page_template: default
author:
  login: sensei
  email: joseph@liau.ca
  display_name: sensei
  first_name: ''
  last_name: ''
---
<p>[caption id="attachment_5" align="aligncenter" width="300"]<img class="wp-image-5 size-medium" src="{{ site.baseurl }}/assets/serveimage-300x128.jpeg" alt="" width="300" height="128" /> Source: Ralph McQuarrie[/caption]</p>
<p><em>"You must unlearn what you have learned." -- Yoda</em></p>
<p>The most difficult limitation to overcome is often ourselves. We have literally spent our whole lives learning that things are the way that we think they are. If we can teach ourselves to be open to moving past those ideas, then, and only then, can we be ready to learn something new, and possibly better.</p>
<p>In <a href="https://kwiklearning.com/">Jim Kiwk's</a> <strong>F-A-S-T</strong> method of learning, the first step is to forget our preconceptions:</p>
<p><strong>F = Forget</strong></p>
<p>"[Forget] about what you already know about the subject. I find as we grow older, we feel like we know everything<strong>,</strong> so we’re not learning anything new; we’re just looking to validate what we already know."[1]</p>
<p><strong>A = Active</strong></p>
<p>"Twentieth-century education trained us to be passive learners. We’re just sitting there, we’re supposed to consume information, but that’s not how the human mind really works." We must be active: ask questions, engage ourselves, and take notes whe appropriate.[2]</p>
<p><strong>S = State</strong></p>
<p>"We know this: all learning is state-depending. Whenever I want to learn fast a skill or a new subject, I always put myself in a state that’s conducive to what I want to learn. A state of curiosity, a state of fascination, a state of excitement."[3]</p>
<p><strong>T = Teach</strong></p>
<p>"If you had to watch a video or a training or read a book and you had to present it to someone the very next day, would you pay different levels of attention? [...] If I ever want to learn something really fast, a subject or a skill, I also put my professor’s cap on [...] All of a sudden I find that my retention of the information is twofold. [...] When you teach something to someone else, you get to learn it twice."[4]</p>
<p>[1][2][3] http://www.supernutritionacademy.com/reduce-overwhelm-get-focused-jim-kwik/#.VkQBrXoSVoA<br />
[4] https://www.bulletproofexec.com/transcript-jim-kwik-speed-reading-memory-superlearning-189/</p>
<p>Unlearn: Forget your limitations and preconceptions.</p>
