---
layout: post
title: WHY "wha" ?
date: 2015-11-12 04:59:24.000000000 -08:00
type: post
published: true
status: publish
categories:
- teaching
tags: []
meta:
  _edit_last: '1'
author: Joseph Liau
featureimage: /assets/jason-300x192.jpeg
---
<br/>Source: Atsugiri Jason
<p>I found that students were constantly confusing the phonetic わ ("wa") with the topical marker は　（"wa" err "ha" ... wha'?). So, I started implementing the "wha" romanization everytime the は repesents the topical marker.</p>
<blockquote><p>e.g. Watashi wha ro--maji ga suki janai.<br />
わたしはローマ字が好きじゃない。</p></blockquote>
<p>This is based on the <a href="https://en.wikipedia.org/wiki/Gwoyeu_Romatzyh">Gwoyeu Romatzyh</a> system for Mandarin learning. This idea is already built into the the を("o"/wo) character.</p>
<p>The idea is that once students switch over from romaji to kana, there should be less confusion. So far, the results have been good for those who have never studied kana before. For others, old habits are hard to change.</p>
<p>Of course it does become a problem when you start to input Japanese on a computer: (T_T) ~ うぁ</p>
