---
layout: post
title: TPRS Japanese Story - Year 1 - Red vs Blue
date: 2016-10-25 19:13:05.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- monkey
- tprs
- year 1
meta:
  _edit_last: '1'
author: Joseph Liau
summary:  A boy's monkey has unsuitable underwear. He makes an effort to please the monkey, but an even bigger monkey gets in the way. Will the boy get the monkey off his back and solve the problem?
featureimage: /assets/Red-vs-Blue-300x300.jpg
---
<p><strong>Synopsis:</strong> A boy's monkey has unsuitable underwear. He makes an effort to please the monkey, but an even bigger monkey gets in the way. Will the boy get the monkey off his back and solve the problem?</p>
<p><strong>In-class sides:</strong> <a href="{{ site.baseurl }}/assets/2016/10/year1_puppymonkeybaby.pdf">year1_puppymonkeybaby</a></p>
<p><strong>Reading:</strong> <a href="{{ site.baseurl }}/assets/2016/10/blue_pants.pdf">blue_pants</a></p>
