---
layout: post
title: TPRS Japanese Story - Year 3 - One Day
date: 2016-10-25 20:41:57.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- tprs
- year 3
meta:
  _edit_last: '1'
author: Joseph Liau
summary: A man has an illness that has him trapped in a dark room. One day an animal comes and wants the man to come out and play. They find a way to work with their issues, but the man needs to get over his past.
featureimage: /assets/yit001-600x600-300x300.png
---
<p><strong>In-class slides: <a href="{{ site.baseurl }}/assets/2016/10/year3_yit.pdf">year3_yit</a></strong></p>
<p><strong>Reading: <a href="{{ site.baseurl }}/assets/2016/10/year3_yit_reading.pdf">year3_yit_reading</a></strong></p>
<p>&nbsp;</p>
