---
layout: post
title: TPRS Japanese Story - Iruka iru ka?
date: 2016-09-21 22:02:07.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- bear
- dolphin
- iruka
- lion
- tprs
- wolf
meta:
  _edit_last: '1'
  _oembed_76431bce49bbd4f7f7266ee3944d9810: "{{unknown}}"
author: Joseph Liau
featureimage: /assets/1162464-bigthumbnail-300x225.jpg
summary: A Lion, a Bear, and a Wolf want to share a house, but they have a few differences. With the help of an introverted Dolphin *when* will they come to an amicable solution?
---

<p><strong>In-Class Slides:</strong><a href="{{ site.baseurl }}/assets/2016/09/Iruka-iru-ka.pdf"><br />
iruka-iru-ka</a></p>
<p><strong>Sample Story:<br />
<a href="{{ site.baseurl }}/assets/2016/09/irukairuka.pdf">irukairuka</a><br />
</strong></p>
<p>&nbsp;</p>
