---
layout: post
title: TPRS Japanese Story - Year 1 - Sushi
date: 2016-11-21 00:00:16.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags: []
meta:
  _edit_last: '1'
author: Joseph Liau
summary: There is a strange animal with a strange problem. Will its rival or friend help solve the lonely situation?
featureimage: /assets/sushi.jpg
---
<p><strong>In-class slides: <a href="{{ site.baseurl }}/assets/2016/11/unagi.pdf">unagi</a></strong></p>
<p><strong>Reading: <a href="{{ site.baseurl }}/assets/2016/11/sushi.pdf">sushi</a> | <a href="{{ site.baseurl }}/assets/2016/11/sarlaac.pdf">sarlaac</a></strong></p>
