---
layout: post
title: TPRS Japanese Story - Year 3 - Bad Teacher
date: 2016-11-21 00:04:03.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- tprs japanese
meta:
  _edit_last: '1'
author: Joseph Liau
summary: A strong child needs guidance, but parents are often too busy with work. Will the child be able to find a suitable mentor to send him in the right direction, or does a darker destiny await?
featureimage: /assets/teacher.jpg
---

<p><strong>In-class slides: <a href="{{ site.baseurl }}/assets/2016/11/story.pdf">story</a></strong></p>
<p><strong>Reading: <a href="{{ site.baseurl }}/assets/2016/11/strongchild.pdf">strongchild<br />
</a></strong></p>
<p><strong>Alt Reading:</strong> <a href="{{ site.baseurl }}/assets/2016/11/raito.pdf">raito</a>  | <a href="{{ site.baseurl }}/assets/2016/11/ben.pdf">ben</a></p>
