---
layout: post
title: TPRS Japanese Story - Year 2 - Powers
date: 2016-10-25 19:19:07.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- star wars
- tprs
- year 2
- yoda
meta:
  _edit_last: '1'
author: Joseph Liau
featureimage: /assets/e9d8422ecf6072d4587cba6b28b91939-300x263.jpg
summary: A young man has great power, but he needs a teacher to help him understand is true potential. The young man goes in search of a mentor, but he fails the first test before his training even begins.
---
<p><strong>In-class Slides: <a href="{{ site.baseurl }}/assets/2016/10/year2_luke.pdf">year2_luke</a></strong></p>
<p><strong>Reading: <a href="{{ site.baseurl }}/assets/2016/10/luke.pdf">luke</a></strong></p>
