---
layout: post
title: TPRS Japanese Story - Year 1 - Blue Dog
date: 2017-10-10 17:25:09.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau
summary: A child has trouble seeing things as they are. Desires and disabilities hinder our perception. But, if we can learn to see things in a different way, maybe we can be happier.
featureimage: /assets/2017/stories/bluedog.jpg
---
<p><strong>TPRS Japanese Level:</strong> Beginner</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/bluedog_slides.pdf">Blue Dog Structures</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/ccr_bluedog.pdf">Dre's Beets</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/bluedog_story.pdf">TPRS Blue Dog Story</a></p>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/bluedog_vocab.pdf">TPRS Blue Dog Vocab</a></p>

