---
layout: post
title: TPRS Japanese Story Matching Activity
date: 2017-03-27 19:03:33.000000000 -07:00
type: post
published: true
status: publish
categories:
- teaching
tags:
- japanese classroom
- learn japanese
- tprs
- tprs activities
- tprs japanese
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1490641413}'
author: Joseph Liau
featureimage: /assets/image20170215_083734169-e1487184133338-300x225.jpg
---

<p>Here's another post-story, post-assignment, matching exercise for TPRS Japanese.</p>
<p>Students usually draw comics (without words) immediately after the story has been completed in class. These comics are used to assess the listening skills throughout the process of "asking" a story. However, aside from collecting artwork the comics are not always used after that. Here's another use for the comics.</p>
<p><strong>How to do TPRS Japanese Story Matching (10-15 minutes)</strong><br />
1. PHOTOCOPY some of the good comics (ones without words, clear pictures, easy to cut). Do not use originals! I used about 6 per class.<br />
2. Cut the comics into individual scenes.<br />
3. Cut up printed versions of the stories into lines or segments from the story.<br />
4. Have the students work in groups. They will match the images with the text.<br />
5. Repeat with other stories. </p>
<p><strong>Modifications:</strong><br />
- Don't give complete stories. Have students fill in the blanks.<br />
- Don't give enough or correct sentences/images (from other stories). Have students interact and trade materials with other groups until it is completed.<br />
- Do timed matching.<br />
- Read sentences allowed and have students put images that match in order of spoken sentences.</p>
<p><strong>Impressions:</strong><br />
- This is a lot of prep work for not a lot of return<br />
- Most students responded positively<br />
- Not sure if the exercise is really valuable for practice; may be better as assessment<br />
- Good way to get more mileage out of student work.</p>
