---
layout: post
title: TPRS Japanese Story - Year 1 - The Scavenger
date: 2017-01-26 19:51:36.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- jakku
- japanese
- learn japanese
- rey
- star wars tprs
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"japanese","update":1493784955,"rank":-1,"country":"com","language":"en"}'
  _thumbnail_id: '254'
author: Joseph Liau
summary: A girl lives in a place with many things, but she's not from there. She thinks she has a family, but doesn't know where they are. While waiting for her family to return she makes a living by collecting things. But, a quick turn of events cause her to question her priorities and significance in the galaxy.
featureimage: /assets/rey.jpg
---

<p><strong>In-class slides: <a href="{{ site.baseurl }}/assets/2017/01/collector.pdf">collector</p>
<p></a></strong><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/01/scavenger.pdf">scavenger</a><br />
<a href="{{ site.baseurl }}/assets/2017/01/hiddenleaf.pdf">hiddenleaf</a><br />
<a href="{{ site.baseurl }}/assets/2017/01/beasts.pdf">beasts</a><br />
<a href="{{ site.baseurl }}/assets/2017/01/mcclean.pdf">mcclean</a></p>
<hr />
<p>In-class slides are used with the TPRS method to "ask a story" with the students. Students help to fill in the blanks with 100% comprehensible words.</p>
<p>Sample readings are some examples of how the story could turn out.</p>
