---
layout: post
title: TPRS Japanese Story - Year 1/2 - Mermaid
date: 2017-06-27 17:25:09.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- kangaroo
- legend of the blue sea
- tprs
- tprs japanese
- tprs story
- wookiee
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau
summary: A mysterious sea creature finds its true potential and love, only to have it all taken away. Will get get a second chance to make things different? 
featureimage: /assets/mermaid.jpg
---
<p><strong>TPRS Japanese Level:</strong> Beginner-Intermediate</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/06/mermaid_1.pdf">mermaid_1</a><br />
<a href="{{ site.baseurl }}/assets/2017/06/mermaid_2.pdf">mermaid_2</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/06/ccr_legend.pdf">ccr_legend</a> (Part 2 only)</p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/06/tprs_story_dolly1.pdf">tprs_story_dolly1</a><br />
<a href="{{ site.baseurl }}/assets/2017/06/tprs_story_dolly2.pdf">tprs_story_dolly2</a><br />
<a href="{{ site.baseurl }}/assets/2017/06/tprs_story_kangaroo1.pdf">tprs_story_kangaroo1</a><br />
<a href="{{ site.baseurl }}/assets/2017/06/tprs_story_kangaroo2.pdf">tprs_story_kangaroo2</a><br />
<a href="{{ site.baseurl }}/assets/2017/06/tprs_story_wookiee1.pdf">tprs_story_wookiee1</a><br />
<a href="{{ site.baseurl }}/assets/2017/06/tprs_story_wookiee2.pdf">tprs_story_wookiee2</a></p>
