---
layout: post
title: TPRS Japanese Story - Year 3 - Social Construction
date: 2017-11-19 17:25:09.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau, Chibiki, Rachel T
summary: Three boys have trouble, find trouble, or make trouble at work. But, there is another... Can the crew mend their differences before it's too late? WARNING some mature themes.
featureimage: /assets/2017/stories/socialconstruct.jpg
---
<p><strong>TPRS Japanese Level:</strong> Advanced</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/socialconstruct_slides.pdf">Social Construction Structures</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/socialconstruct_ccr.pdf">Social Construction Repetitions Story (Past Tense)</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/socialconstruct_story.pdf">TPRS Social Construction Story (Present Tense)</a></p>
<a href="{{ site.baseurl }}/assets/2017/stories/socialconstruct_eng.pdf">TPRS Social Construction Story Translation (Present Tense)</a></p>
<iframe src="https://archive.org/embed/socialconstruct" width="500" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/socialconstruct_vocab.pdf">TPRS Social Construction Vocab</a></p>

