---
layout: post
title: TPRS Japanese Story - Year 1 - Bad Neighbour
date: 2017-11-16 17:25:09.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau, Chibiki, Rachel T
summary: A unique animal is trying to get some rest, but a scary being lives next door. Will the animal get to sleep, or face a tragic end?
featureimage: /assets/2017/stories/badneighbour.jpg
---
<p><strong>TPRS Japanese Level:</strong> Beginner</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/badneighbour_slides.pdf">Bad Neighbour Structures</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/badneighbour_ccr.pdf">Bad Neighbour Repetitions Story (Past Tense)</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/badneighbour_story.pdf">TPRS Bad Neighbour Story (Present Tense)</a></p>
<a href="{{ site.baseurl }}/assets/2017/stories/badneighbour_eng.pdf">TPRS Bad Neighbour Translation (Present Tense)</a></p>
<iframe src="https://archive.org/embed/badneighbour" width="500" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/badneighbour_vocab.pdf">TPRS Bad Neighbour Vocab</a></p>

