---
layout: post
title: TPRS Japanese Story - Year 3 - Paper Cranes
date: 2017-05-12 03:52:10.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- ghost in the shell
- gits
- tprs
- tprs japanese
- tprs stories
meta:
  _oembed_6781ce9b6f575d20e957708a673cd83b: "{{unknown}}"
  _oembed_2c12a8b493dc964e155585d3855f46d6: "{{unknown}}"
  _oembed_cd7a7423348aa70c952d3a07bc4aba3f: "{{unknown}}"
  _oembed_0780a466c4b2e17e60a0f1741306c22a: "{{unknown}}"
  _oembed_282d2f78d5b21784fb869ccdb6774f8e: "{{unknown}}"
  _oembed_4ece6cb3915671fe143fd32df6c4bb75: "{{unknown}}"
  _oembed_d4acab2f126f76c57a009995d7b9a23e: "{{unknown}}"
  _oembed_7f06beae18b80c7de1372cf6e9539751: "{{unknown}}"
  _oembed_0c1445db788f16d8e09c4d60c711f77f: "{{unknown}}"
  _oembed_12e642afa2faf9e5fac37e8cb90e6bf6: "{{unknown}}"
  _edit_last: '1'
  _thumbnail_id: '288'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498583245}'
author: Joseph Liau
summary: After a tragic accident, a child is faced with new challenges and a new body. This two-part, cause-and-effect thriller will test your ability to discern between fantasy and reality.
featureimage: /assets/kuze.gif
---
<p>TPRS Japanese Story</p>

<p><strong>In-Class Slides:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/05/planes_1.pdf">planes_1</a><br />
<a href="{{ site.baseurl }}/assets/2017/05/planes_2.pdf">planes_2</a></p>
<p><strong>TPRS Japanese CCR stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/05/ccr_gits.pdf">ccr_gits</a> (Part 2 only)</p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/05/tprs_story_easter1.pdf">tprs_story_easter1</a><br />
<a href="{{ site.baseurl }}/assets/2017/05/tprs_story_easter2.pdf">tprs_story_easter2</a><br />
<a href="{{ site.baseurl }}/assets/2017/05/tprs_story_shortride1.pdf">tprs_story_shortride1</a><br />
<a href="{{ site.baseurl }}/assets/2017/05/tprs_story_shortride2.pdf">tprs_story_shortride2</a><br />
<a href="{{ site.baseurl }}/assets/2017/05/tprs_story_nasa1.pdf">tprs_story_nasa1</a><br />
<a href="{{ site.baseurl }}/assets/2017/05/tprs_story_nasa2.pdf">tprs_story_nasa2</a></p>
