---
layout: post
title: TPRS Japanese Story - Year 3 - Shoujo 
date: 2017-01-23 18:04:33.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- passive form
- potential form
- shoujo
- story
- tprs
- tprs japanese
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"tprs japanese","update":1493800607,"rank":-1,"country":"com","language":"en"}'
  _thumbnail_id: '257'
author: Joseph Liau
summary: A young lady has become bitter due to her past. She has the skills to achieve her goals but she doesn't have the right tools. Will she get over her past? Hope is closer than she thinks.
featureimage: /assets/jyn.jpg
---
<p>Photo: <a href="https://www.flickr.com/photos/randar/31251144433/in/photolist-HF4f2R-HJjZqS-GTQALB-HMmn2r-HK6Xs7-J4iAZ6-HUxV9W-HXpmqg-HTXkTV-J1iv1w-G2zXwE-C3rE6f-HCPQEN-GjgF7f-GdXcBE-LcxFZE-KT2tTX-MhPo6i-JV7jmC-PByhpX-MNcU1G-MPf2Bi-LZ9MSe-MuBqm7-MTCbxG-MuBrNA-MWHF4v-MWHDm2-MWHC6X-NfruTj-M6Wfe4-LH7mSd-L8Pw5z-KkpdV7-KHxn7Z-KDeK8b-KzG7Vx-MF9CEL-PByht4-QCb9Yy-QRhd5g-PByhqD-QnrNHf-QqHDGP-QqHDJx-PVUvwZ-Q798DX-PcaXDZ-PRPGB7-PcaXvH">source</a></p>
<p><strong>In-class Slides: <a href="{{ site.baseurl }}/assets/2017/01/shoujo.pdf">shoujo</a></strong></p>
<p><strong>TPRS Japanese Story Samples:<br />
<a href="{{ site.baseurl }}/assets/2017/01/hope.pdf">hope</a><br />
<a href="{{ site.baseurl }}/assets/2017/01/pi.pdf">pi</a><br />
<a href="{{ site.baseurl }}/assets/2017/01/Sana.pdf">Sana</a><br />
<a href="{{ site.baseurl }}/assets/2017/01/uma.pdf">uma</a><br />
</strong></p>
<p>In-class slides are used with the TPRS method to “ask a story” with the students. Students help to fill in the blanks with 100% comprehensible words.</p>
<p>Sample readings are some examples of how the story could turn out.</p>
