---
layout: post
title: TPRS Japanese Story - Kijimunaa
date: 2017-10-10 17:25:09.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau
summary: A girl has trouble with her relationships. But, it might not be her fault; could she be under the influence of an Okinawan youkai?
featureimage: /assets/2017/stories/kijimunaa.jpg
---
<p><strong>TPRS Japanese Level:</strong>Intermediate</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/kijimunaa_slides.pdf">Kijimunaa Structures</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/ccr_kijimunaa.pdf">Anne</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/kijimunaa_story.pdf">TPRS Kijimunaa Story</a></p>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2017/stories/kijimunaa_vocab.pdf">TPRS Kijimunaa Vocab</a></p>

