---
layout: post
title: TPRS Japanese Story - Life Goals
date: 2018-06-25 00:51:37.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- learn japanese
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"japanese","update":1493784955,"rank":-1,"country":"com","language":"en"}'
  _thumbnail_id: '254'
author: Joseph Liau
summary: What happens when a person is face with a challenger? What do you value in life? Does it value you in return?
featureimage: /assets/2018/stories/lifegoals/lifegoals.jpg
---

<p><strong>TPRS Japanese Level:</strong> Intermediate</p>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/lifegoals_vocab.pdf">TPRS Japanese Life Goals Vocab</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/serena_ccr.pdf">TPRS Japanese Serena CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/kth_ccr.pdf">TPRS Japanese Kim Tae-hyung CCR</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/serena_story.pdf">TPRS Japanese Serena Story</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/kth_story.pdf">TPRS Japanese Kim Tae-hyung Story</a></p>
<p><strong>TPRS Japanese Practice Sheets:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/serena_practice.pdf">TPRS Japanese Serena Practice</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/lifegoals/kth_practice.pdf">TPRS Japanese Kim Tae-hyun Practice</a></p>
<hr />
<p>Using the vocab list with comprehensible input on the board, "ask" a story using input from the students</p>
<p>CCR readings are "Cold Character Readings" to be read with the teacher for the purpose of character recognition.
<p>Sample readings are some examples of how the story could turn out.</p>
<p>Practice sheets are to help learn the characters further.

