---
layout: post
title: TPRS Japanese Story - Year 1 - Cave Friends
date: 2018-01-24 0:00:00.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau
summary: A woman is looking for her friend, but what she finds is more than she expected. 
featureimage:  /assets/2018/stories/cavefriends.jpg
---
<p><strong>TPRS Japanese Level:</strong> Beginner</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/cavefriends_slides.pdf">TPRS Japanese Cave Friends Slides</a></p>
<p><strong>TPRS Japanese Story Vocab List (incomplete):</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/cavefriends_vocab.pdf">TPRS Japanese Cave Friends Vocab</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/cavefriends_ccr.pdf">TPRS Japanese Sandy CCR Reading</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/cavefriends_reading.pdf">TPRS Japanese Cave Friends Story</a></p>
<p><strong>TPRS Japanese Movie Talk:</strong><br />
<a href="https://www.youtube.com/watch?v=o3II-zqUe6M">Beasts of Echo Base Video</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/cavefriends_movietalk.pdf">TPRS Japanese Cave Friends Movie Talk Reading (incomplete)</a></p>
