---
layout: post
title: TPRS Japanese Story - Too Tall
date: 2018-06-25 00:51:36.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- learn japanese
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"japanese","update":1493784955,"rank":-1,"country":"com","language":"en"}'
  _thumbnail_id: '254'
author: Joseph Liau
summary: Sometimes our shapes and sizes can be a problem, but somethimes they can help guide our lives.
featureimage: /assets/2018/stories/tootall/tootall.jpg
---

<p><strong>TPRS Japanese Level:</strong> Intermediate</p>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/tootall_vocab.pdf">TPRS Japanese Too Tall Vocab</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/bernie_ccr.pdf">TPRS Japanese Bernie CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/giannis_ccr.pdf">TPRS Japanese Giannis CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/mangus_ccr.pdf">TPRS Japanese Mangus CCR</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/bernie_story.pdf">TPRS Japanese Bernie Story</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/giannis_story.pdf">TPRS Japanese Giannis Story</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/mangus_story.pdf">TPRS Japanese Mangus Story</a></p>
<p><strong>TPRS Japanese Practice Sheets:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/bernie_practice.pdf">TPRS Japanese Bernie Practice</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/giannis_practice.pdf">TPRS Japanese Giannis Practice</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/tootall/mangus_practice.pdf">TPRS Japanese Mangus Practice</a></p>
<hr />
<p>Using the vocab list with comprehensible input on the board, "ask" a story using input from the students</p>
<p>CCR readings are "Cold Character Readings" to be read with the teacher for the purpose of character recognition.
<p>Sample readings are some examples of how the story could turn out.</p>
<p>Practice sheets are to help learn the characters further.

