---
layout: post
title: TPRS Japanese Story - Strong Creatures
date: 2018-06-26 00:51:37.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- learn japanese
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"japanese","update":1493784955,"rank":-1,"country":"com","language":"en"}'
  _thumbnail_id: '254'
author: Joseph Liau
summary: With great strength comes great adversity. Sometimes we have to solve problems in ways that we don't expect.
featureimage: /assets/2018/stories/strongcreatures/strongcreatures.jpg
---

<p><strong>TPRS Japanese Level:</strong> Intermediate</p>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/strongcreatures_vocab.pdf">TPRS Japanese Strong Creatures Vocab</a></p>
<p><strong>TPRS Japanese Victor Story: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/victor_ccr.pdf">TPRS Japanese Victor CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/victor_write.pdf">TPRS Japanese Victor Practice 1</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/victor_write2.pdf">TPRS Japanese Victor Practice 2</a></p>
<p><strong>TPRS Japanese Chikin Story:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/chikin_ccr.pdf">TPRS Japanese Chikin CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/chikin_write.pdf">TPRS Japanese Chikin Practice 1</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/chikin_write2.pdf">TPRS Japanese Chikin Practice 2</a></p>
<p><strong>TPRS Japanese Fugu Story:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/fugu_ccr.pdf">TPRS Japanese Fugu CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/fugu_write.pdf">TPRS Japanese Fugu Practice 1</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/fugu_write2.pdf">TPRS Japanese Fugu Practice 2</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/strongcreatures/fugu_write3.pdf">TPRS Japanese Fugu Practice 3</a></p>
<hr />
<p>Using the vocab list with comprehensible input on the board, "ask" a story using input from the students</p>
<p>CCR readings are "Cold Character Readings" to be read with the teacher for the purpose of character recognition.
<p>Sample readings are some examples of how the story could turn out.</p>
<p>Practice sheets are to help learn the characters further.

