---
layout: post
title: TPRS Japanese Story - Animal Problems
date: 2018-06-26 00:51:38.000000000 -08:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- japanese
- learn japanese
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"japanese","update":1493784955,"rank":-1,"country":"com","language":"en"}'
  _thumbnail_id: '254'
author: Joseph Liau
summary: Not all animals can work alone. Sometimes we have to accept our weaknesses and find creative ways to work with others.
featureimage: /assets/2018/stories/aniprob/aniprob.jpg
---

<p><strong>TPRS Japanese Level:</strong> Advanced</p>
<p><strong>TPRS Japanese Story Vocab List:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/aniprob_vocab.pdf">TPRS Japanese Animal Problems Vocab</a></p>
<p><strong>TPRS Japanese Lando Story: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/lando_ccr.pdf">TPRS Japanese lando CCR</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/lando_write.pdf">TPRS Japanese lando Practice 1</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/lando_write2.pdf">TPRS Japanese lando Practice 2</a></p>
<p><strong>TPRS Japanese Kirinto Story:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/kirinto_ccr.pdf">TPRS Japanese Kirinto CCR 1</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/kirinto_ccr2.pdf">TPRS Japanese Kirinto CCR 2</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/kirinto_ccr3.pdf">TPRS Japanese Kirinto CCR 3</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/kirinto_write.pdf">TPRS Japanese Kirinto Practice 1</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/aniprob/kirinto_write2.pdf">TPRS Japanese Kirinto Practice 2</a></p>
<hr />
<p>Using the vocab list with comprehensible input on the board, "ask" a story using input from the students</p>
<p>CCR readings are "Cold Character Readings" to be read with the teacher for the purpose of character recognition.

<p>Practice sheets are to help learn the characters further.

