---
layout: post
title: TPRS Japanese Story - Year 3 - Sandy Claws
date: 2018-01-24 00:00:00.000000000 -07:00
type: post
published: true
status: publish
categories:
- Classroom
tags:
- ccr
- tprs
- tprs japanese
- tprs story
meta:
  _edit_last: '1'
  _thumbnail_id: '305'
  _sq_fp_title: ''
  _sq_fp_description: ''
  _sq_canonical: ''
  _sq_post_keyword: '{"keyword":"","update":1498584309}'
author: Joseph Liau
summary: A woman and her pet are searching for a way to make ends meet when suddenly they could be meeting their end!
featureimage:  /assets/2018/stories/sandyclaws.jpg
---
<p><strong>TPRS Japanese Level:</strong> Intermediate</p>
<p><strong>In-Class Slides: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/sandyclaws_slides.pdf">TPRS Japanese Sandy Claws Slides</a></p>
<p><strong>TPRS Japanese Story Vocab List (incomplete):</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/sandyclaws_vocab.pdf">TPRS Japanese Sandy Claws Vocab</a></p>
<p><strong>TPRS Japanese CCR stories: </strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/sandyclaws_ccr.pdf">TPRS Japanese Sandy CCR Reading</a></p>
<p><strong>TPRS Japanese Sample Stories:</strong><br />
<a href="{{ site.baseurl }}/assets/2018/stories/sandyclaws_reading.pdf">TPRS Japanese Sandy Claws Story</a></p>
<p><strong>TPRS Japanese Movie Talk:</strong><br />
<a href="https://www.youtube.com/watch?v=TVVa2g4X4MUf">Sands of Jakku Video</a></p>
<a href="{{ site.baseurl }}/assets/2018/stories/sandyclaws_movietalk.pdf">TPRS Japanese Sandy Claws Movie Talk Reading</a></p>
