---
layout: post
title: Pronunciation is Hurd
date: 
type: post
published: false
status: draft
categories: []
tags: []
meta:
  _edit_last: '1'
author:
  login: sensei
  email: joseph@liau.ca
  display_name: sensei
  first_name: ''
  last_name: ''
---
<p>We can only pronounce sounds that exist in our heads. For this reason, English-language native speakers should have a bit of an advantage, as it a language that contains one of the most sounds (phonemes). "The language with the most sounds: !Xóõ with 112 phonemes"[1]</p>
<p>In Japanese, however, there are a few sounds that don't exist normally in the English phoneme collection. </p>
<p>Ra, Ri, Ru, Re, Ro<br />
ら　り　る　れ　ろ</p>
<p>RAH, RHEE, ROO, RAY, ROW? Not quite.<br />
LAH, LEE, LOO, LAY, LOW. Guess again.<br />
DAH, DEE, DOO, DAY, DOH? Somehow closer...</p>
<p>It's not a raw as a plain "R" sound, and it doesn't go quite as low an "L" sound. It vacillates somewhere in between with a hidden "hit" to the sound.</p>
<p>Give this a go: say DAH, DEE, DOO, DAY, DOH. Normally the front teeth come together to make this sound in English. But, now try making that sound without rerring rhose reerh rouch (without letting those teeth touch).</p>
<p>[1]http://www.vistawide.com/languages/language_statistics.htm</p>
