---
layout: post
title: TPRS - Red vs. Blue Story
date: 
type: post
published: false
status: draft
categories:
- Classroom
tags: []
meta:
  _edit_last: '1'
author:
  login: sensei
  email: joseph@liau.ca
  display_name: sensei
  first_name: ''
  last_name: ''
---
<p>
<strong>Synopsis:</strong>A boy wants blue cats. The problem is that he is on an island that only has red cats and red things. Who is willing to give him blue cats?</p>
<p>Given Grammar Structures:</p>
<ul>
<li>There is: living vs non (いる　vs　ある）</li>
<li>Wants　（ほしい）</li>
<li>Going　(行く）</li>
<li>Likes　(好き）</li>
<li>Giving (あげる）</li>
<li>Colors: Red vs Blue (あかい　vs　あおい）
</li>
</ul>
<p>Oh no! Where are the materials? orz (maybe more in the future)</p>
