---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    <img src="{% if page.featureimage %}{{ page.featureimage }}{% endif %}">
    <p>{% if page.summary %}<strong>Summary:</strong> {{ page.summary }}{% endif %}</p> 
    <p>{{ content }}</p>
  </div>

</article>
